<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cengizhan.vizyonotoboya">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/vizyonikon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/vizyonikon"
        android:supportsRtl="true"
        android:theme="@style/Theme.VizyonOtoBoya">
        <activity
            android:name=".giderOdeme"
            android:exported="true" />
        <activity
            android:name=".workOdemee"
            android:exported="true" />
        <activity android:name=".giderDetails" />
        <activity android:name=".giderEkle" />
        <activity android:name=".ozet" />
        <activity android:name=".giderler" />
        <activity android:name=".workDetails" />
        <activity android:name=".AddWork" />
        <activity android:name=".works" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>